#output {
    font-size: 60px;
    color: #F0EDCC;
    text-align: center;
        /* display: flex;
        align-items: center;
        justify-content: center; */
}

.upper {
    border: 3px solid #F0EDCC;
    height: 240px;
    width: 1550px;
    margin: 20px 0px 10px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    /* padding: 20px; */
    
}


textarea {
    padding: 5px 10px;
    margin: 10px 0px 20px 30px;
    color: #F0EDCC;
    background-color: #02343F;
    font-size: 20px;
    width: 1600px; /* Chiều rộng */
    height: 300px; /* Chiều cao */
}

body {
    background-color: #02343F;
    color: #F0EDCC;
    width: 1280px;
    height: 720px;
    /* border: 1px solid #F0EDCC; */
    padding: 15px;
        
}

.credit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

button {
    font-size: 20px;
    padding: 5px 10px;
}

input {
    font-size: 20px;
    padding: 5px 10px;
}